<h1><%= @restaurant.name %></h1><h3><em>Delicious <%= @restaurant.cuisine %> food</em> on <%= @restaurant.location %></h3>
<h2>Description</h2>
<p><%= @restaurant.description %></p>

<%= render 'make_reservation' %>
