<!DOCTYPE html>
<html>
<head>
  <title>SeatClone</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!--Foundation specific-->
    <%= javascript_include_tag "vendor/modernizr" %>

<!--End Foundtion specific-->

</head>
<body>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<% if flash[:alert] %>
<% flash[:alert] %>
<% end %>

<main>
  <%= yield %>
</main>

<br><% if current_user %>
   Signed in as <%= link_to(current_user.first_name, user_path(current_user.id)) %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
<% end %>


</body>
</html>









